@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  min-height: 100%;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  font-family: 'Inter', sans-serif;
}

router-outlet {
  + * {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    width: 100%;
  }
}
